section.s-services
    .owl-carousel.carousel-services
        .carousel-services-item
            .carousel-services-content
                .carousel-services-composition
                    .carousel-logo
                        img(src="../img/logo-2.svg", alt="S&Mitler")
                    h3.h3 Косметологический сервис
                    ul.carousel-services-list
                        li Ключевая улуга #1 - 
                            strong 8500 
                                i.fa.fa-rub
                        li Ключевая улуга #2 - 
                            strong 8500 
                                i.fa.fa-rub
                        li Ключевая улуга #3 - 
                            strong 8500 
                                i.fa.fa-rub
                    a.button.button-white(href="#") Список услуг
            .carousel-services-image(style="background-image: url(../img/service.png)")
        .carousel-services-item 
            .carousel-services-content
                .carousel-services-composition
                    .carousel-logo
                        img(src="../img/logo-2.svg", alt="S&Mitler")
                    h3.h3 Парикмахерский сервис
                    ul.carousel-services-list
                        li Ключевая улуга #1 - 
                            strong 3600 
                                i.fa.fa-rub
                        li Ключевая улуга #2 - 
                            strong 9800 
                                i.fa.fa-rub
                        li Ключевая улуга #3 - 
                            strong 8500 
                                i.fa.fa-rub
                    a.button.button-white(href="#") Список услуг
            .carousel-services-image(style="background-image: url(../img/service2.png)")
        .carousel-services-item
            .carousel-services-content
                .carousel-services-composition
                    .carousel-logo
                        img(src="../img/logo-2.svg", alt="S&Mitler")
                    h3.h3 Маникюрный сервис
                    ul.carousel-services-list
                        li Ключевая улуга #1 - 
                            strong 8500 
                                i.fa.fa-rub
                        li Ключевая улуга #2 - 
                            strong 8500 
                                i.fa.fa-rub
                        li Ключевая улуга #3 - 
                            strong 8500 
                                i.fa.fa-rub
                    a.button.button-white(href="#") Список услуг
            .carousel-services-image(style="background-image: url(../img/service3.png)")
        .carousel-services-item
            .carousel-services-content
                .carousel-services-composition
                    .carousel-logo
                        img(src="../img/logo-2.svg", alt="S&Mitler")
                    h3.h3 Массаж и SPA
                    ul.carousel-services-list
                        li Ключевая улуга #1 - 
                            strong 7400 
                                i.fa.fa-rub
                        li Ключевая улуга #2 - 
                            strong 1500 
                                i.fa.fa-rub
                        li Ключевая улуга #3 - 
                            strong 3200 
                                i.fa.fa-rub
                    a.button.button-white(href="#") Список услуг
            .carousel-services-image(style="background-image: url(../img/service2.png)")