.main-footer
    .container
        .row
            .col-lg-2.col-sm-4.col-xs-12
                .footer-column.text-center-sm
                    img(src="../img/logo-1.svg", alt="SMitler").logo-footer
                    p Салон красоты 
                        br
                        | в Москве
                    .footer-social
                        nav.soc
                            ul
                                li
                                    a(href="#")
                                        i.fa.fa-facebook
                                li
                                    a(href="#")
                                        i.fa.fa-instagram
                                li
                                    a(href="#")
                                        i.fa.fa-vk
            .col-lg-3.col-sm-4.col-xs-12
                .footer-column 
                    nav.footer-menu
                        ul
                            li.active
                                a(href="#") Парикмахерский сервис
                            li
                                a(href="#") Косметологический сервис
                            li
                                a(href="#") Маникюрный сервис
                            li
                                a(href="#") Массаж и SPA
                            li
                                a(href="#") Солярий
                            li
                                a(href="#") Наши специалисты
            .col-lg-3.col-sm-4.col-xs-12
                .footer-column
                    p.footer-addr
                        i.fa.fa-location-arrow
                        | г. Москва, ул. Ивана Бабушкина, 22с1, м. Профсоюзная
                    p.footer-addr
                        i.fa.fa-clock-o
                        | Время работы: Ежедневно,
                        br
                        | 10:00 - 22:00
                    p.footer-addr
                        span.footer-phone
                            i.fa.fa-mobile 
                            | +7 (495) 118-84-35
            .col-lg-4.col-sm-12.col-xs-12
                .footer-column 
                    .map
                        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abfd6ddf9b3290c4bbbbdb50fecbf79038703d5254832e2721b3d8b5afbf4cbb1&width=100%25&height=200&lang=ru_RU&scroll=true')