#my-header
    header.site-header(style={'background-image': 'url(img/top-bg.jpg)'})
        .top-line
            a.logo(href="#")
                img(src="../img/logo-1.svg", alt="S&Mitler Logo")
            .phone.hidden-xs
                i.fa.fa-mobile
                | +7 (495) 118-84-35
            a.hamburger.hamburger--emphatic(href="#my-menu")
                span.hamburger-box
                    span.hamburger-inner
            nav#my-menu
                ul
                    li
                        a(href="#") Парикмахерский сервис
                    li
                        a(href="#") Косметологический сервис
                    li
                        a(href="#") Маникюрный сервис
                    li
                        a(href="#") Массаж и SPA
                    li
                        a(href="#") Солярий
                    li
                        a(href="#") Наши специалисты
                    li
                        a(href="#") Новости
                    li
                        a(href="#") Прайс-лист
                    li
                        a(href="#") Наши сертификаты
                    li
                        a(href="#") О салоне
        .header-flex
            .flex-center
                .container
                    .row
                        .col-sm-7.col-xs-10
                            .header-composition
                                .welcome
                                    p
                                        span Добро пожаловать в профессиональный
                                    h1.h1 Салон красоты
                                    strong
                                        i.fa.fa-star
                                        |в Москве
                                        i.fa.fa-star
                                p 
                                    strong S&Mitler 
                                    | - это салон красоты бизнес-класса. Мастера салона дарят посетителям уверенность в себе и индивидуальный стиль. Здесь представлены все самые востребованные услуги бьюти-индустрии.
                                a.button(href="#") О салоне

        .header-social
            nav.soc
                ul
                    li
                        a(href="#")
                            i.fa.fa-facebook
                    li
                        a(href="#")
                            i.fa.fa-instagram
                    li
                        a(href="#")
                            i.fa.fa-vk
        
        .header-contacts
            .container
                .row
                    .col-md-4.col-sm-6
                        i.fa.fa-location-arrow 
                        |г. Москва, ул. Ивана Бабушкина, 22с1
                    .col-md-4.col-sm-6
                        .phone-h
                            i.fa.fa-mobile
                            |+7 (495) 922-77-73
                    .col-md-4.hidden-sm.hidden-xs
                        i.fa.fa-clock-o 
                        |Время работы: ежедневно: 10:00 - 22:00
