doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title S&Mitler
        meta(name="description" content="")

        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(property="og:image" content="path/to/image.jpg")
        link(rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon")
        link(rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png")
        link(rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png")
        
        //Chrome, Firefox OS and Opera
        meta(name="theme-color" content="#1a1a1a")
        //Windows Phone
        meta(name="msapplication-navbutton-color" content="#1a1a1a")
        //iOS Safari
        meta(name="apple-mobile-web-app-status-bar-style" content="#1a1a1a")

        //Hide html until css not loaded
        <style>body { opacity: 0; overflow-x: hidden; } html { background-color: #151515; }</style>

    body.ishome
        #my-page
            include header.pug
            #my-content
                include carousel.pug
                include s-king.pug
            #my-footer

        link(rel="stylesheet", href="../css/vendor.min.css")
        link(rel="stylesheet", href="../css/main.min.css")
        script(src="../js/min/vendor.min.js")
        script(src="../js/min/common.min.js")