section.s-king.inverse.section-overlay(style="background-image: url(../img/photos/foto-16.jpg)")
    .container
        .row
            .col-md-5
                h2.h2 Королевский салон
                p 
                    strong S&Mitler 
                    |встречает своих посетителей современным дизайном и атмосферой уюта: огромное светлое пространство, изящная мебель, мягкие бархатные кресла. Это отличное место для того, чтобы посвятить пару часов только себе!
                p Дамам здесь предложат экстраординарный ассортимент косметологических процедур и качественный нейл-сервис, а мужчин порадуют услугами стилистов и уходом за лицом.
            .col-md-7
                .section-gallery.fotorama(data-nav="thumbs" data-thumbwidth="110" data-thumbheight="66" data-thumbborderwidth="4" data-thumbmargin="10" data-width="100%")
                    img(src="../img/photos/small/foto-13.jpg", alt="Фото салона красоты")
                    img(src="../img/photos/small/foto-15.jpg", alt="Фото салона красоты")
                    img(src="../img/photos/small/foto-16.jpg", alt="Фото салона красоты")
                    img(src="../img/photos/small/foto-18.jpg", alt="Фото салона красоты")
                    img(src="../img/photos/small/foto-19.jpg", alt="Фото салона красоты")
                    img(src="../img/photos/small/foto-23.jpg", alt="Фото салона красоты")