section.s-partners.section-overlay(style='background-image: url(../img/bg-3.jpg)')
    .container
        .row
            .col-sm-12
                h2.h2.text-center Наши партнеры

            .col-sm-10.col-sm-offset-1
                .owl-carousel.partners
                    .partner
                        img(src="../img/partners/brend1.png", alt="Наш партнер")
                    .partner
                        img(src="../img/partners/brend2.png", alt="Наш партнер")
                    .partner
                        img(src="../img/partners/brend3.png", alt="Наш партнер")
                    .partner
                        img(src="../img/partners/brend4.png", alt="Наш партнер")
                    .partner
                        img(src="../img/partners/brend3.png", alt="Наш партнер")
                    .partner
                        img(src="../img/partners/brend3.png", alt="Наш партнер")