section.s-review.inverse.section-overlay(style='background-image: url(../img/bg-2.jpg)')
    .container
        .row
            .col-sm-12
                h2.h2.text-center.h-first Отзывы наших клиентов
            .col-sm-8.col-sm-offset-2
                .quotes
                .owl-carousel.reviews
                    .review
                        .review-header Оксана
                        .review-date 29.07.2016 (Стрижка)
                        .review-stars
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .review-text Мне очень повезло! Я случайно попала в салон красоты S&Mitler, когда возвращалась с работы. Времени, записываться на стрижку, у меня не было. И, на удачу, я попала в смену стилиста Марины. Я сама не знала, как я хочу постричься, но Марина предлагала несколько вариантов. И в итоге я получила колоссальное удовольствие от конечного итога! Марина с моими волосами сделала что-то невероятно красивое! После стрижки волосы стали более объемными и гладкими! Спасибо Мариночке за индивидуальный подход и качество выполненной работы!!!
                    .review
                        .review-header Александра
                        .review-date 21.08.2016 (Маникюр)
                        .review-stars
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .review-text Мне очень повезло! Я случайно попала в салон красоты S&Mitler, когда возвращалась с работы. Времени, записываться на стрижку, у меня не было. И, на удачу, я попала в смену стилиста Марины. Я сама не знала, как я хочу постричься, но Марина предлагала несколько вариантов. 
                    .review
                        .review-header Максим
                        .review-date 15.03.2016 (Стрижка)
                        .review-stars
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                            i.fa.fa-star
                        .review-text Мне очень повезло! Я случайно попал в салон красоты S&Mitler, когда возвращался с работы. Времени, записываться на стрижку, у меня не было. И, на удачу, я попал в смену стилиста Марины. 
